/*CSS reset */

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
}

body{
    font-size: 100%;
    list-style-type: 
    none;
    background-color: seashell;

}
/* -------------- */
body{
}

.cabecalho{
    margin: 0;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
  
    background-color: rgb(0, 0, 0);
}
.cabecalho-logo{
    font-size: 48px;
    font-weight: 700;
    color: red;
}
.cabecalho-menu{
    display: flex;
    gap: 32px;
}

.cabecalho-menu-item{
    font-family:Verdana, Geneva, Tahoma, sans-serif;
    color: white;
}

.conteudo-principal{
    margin-top: 40px;
    margin-bottom: 40px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    padding: 20px;
    gap: 10px;
}

.conteudo-secundario{
    margin-bottom:48px;
    margin-top: 20px;
}
    
.conteudo-secundario-imagem {
    height: 320px;
    display: block;
    margin: 0 auto;
}

.rodape{
    line-height: 60px;
    text-align: center;
}

.rodape-paragrafo {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-weight: 400;
    font-size: 12px;
    background-color: gray;
    color: black;
}